@import "tailwindcss";
@import "tw-animate-css";



:root {
  --color-green-lightest: oklch(0.86 0.0519 105.01 / 50%); /* ljusgrön m 50% opacitet */
  --color-green-light: oklch(0.86 0.0519 105.01);   /* Ljusgrön */
  --color-pink-light: oklch(0.9 0.021 17.55);    /* Ljusrosa */
  --color-green-dark: oklch(0.63 0.0565 104.28);    /* Mörkgrön */
  --color-pink-dark: oklch(0.69 0.0865 17.68);     /* Mörkrosa */
  --color-pink-sharp: oklch(0.75 0.18 17.68); /* Skarp rosa  */
  --color-black: oklch(0.02 0.03 0.05);         /* Svart */
  --color-white: #ffffff;                       /* Vit */
}
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--color-green-lightest);
  color: var(--color-black);
}
